.dropdown-header-notification {
  padding-top: 24px;
  padding-left: 33px;
  padding-right: 33px;
  font: normal normal normal 18px Montserrat;
  width: 324px;
  color: #707070;
  opacity: 1;
  letter-spacing: 0px;
}

.navbar
  .navbar-content
  .navbar-nav
  .nav-item.nav-apps
  .dropdown-menu
  .dropdown-body,
.navbar
  .navbar-content
  .navbar-nav
  .nav-item.nav-notifications
  .dropdown-menu
  .dropdown-body-notification,
.navbar
  .navbar-content
  .navbar-nav
  .nav-item.nav-messages
  .dropdown-menu
  .dropdown-body-notification {
  padding-left: 21px;
  padding-right: 21px;
}
